# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars.local
**/.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local secrets / env files
.env

# OS / editor
.DS_Store
*.swp
